<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">
  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#demo"
      data-bs-slide-to="0"
      class="active"
    ></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="grid-container">
        <div class="grid-child" style="height: 80vh">
          <img
            src="https://www.ei-india.com/newEIWebsite/eiasset/images/sliderHeroImageMobile.png"
            class="d-block w-50"
            alt="..."
          />
        </div>
        <div class="grid-child">
          <h1>
            Show The World What<br />
            You <br />
            Are <br />
            Capable of<br />
            With <span style="color: brown">Ei Supertest</span>
          </h1>

          <p>
            India's Largest and Most Respected Student<br />

            Assessment December 15-20, 2021<br />

            Grades 3-10<br />

            English | Maths | Science | Social Science | Hindi
          </p>

          <button id="register">Register Now</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="grid-container">
        <div class="grid-child">
          <img
            src="https://www.ei-india.com/newEIWebsite/eiasset/images/banner-ei.png"
            width="400px"
            height="auto"
            alt="..."
          />
        </div>
        <div class="grid-child">
          <h1>
            Show The World What<br />
            You <br />
            Are <br />
            Capable of<br />
            With <span style="color: brown">Ei Supertest</span>
          </h1>

          <button id="register">Register Now</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="grid-container">
        <div class="grid-child">
          <img
            src="https://www.ei-india.com/newEIWebsite/eiasset/images/slider3-gec.png"
            width="300px"
            height="auto"
            alt="..."
          />
        </div>
        <div class="grid-child">
          <h1>
            Show The World What<br />
            You <br />
            Are <br />
            Capable of<br />
            With <span style="color: brown">Ei Supertest</span>
          </h1>

          <button id="register">Register Now</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#demo"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
