<app-new-banner></app-new-banner>
<app-navbar></app-navbar>
<div class="row" id="mydiv">
  <div class="col-md-6 col-xs-12 banner-img">
    <img
      src="https://www.ei-india.com/newEIWebsite/eiasset/images/career-banner.png"
      width="400 px"
      id="hp"
    />
  </div>
  <div class="col-md-6 col-xs-12 asset-banner-text">
    <div class="tagline mobile-btn">
      <div class="carrer_heading">
        <h1 class="asset-head1">We are looking for Change Makers</h1>
        <p class="test-font">
          We are continually looking for people with a positive attitude,<br>
          compassion, a compelling desire to make a difference in the way<br>
          children learn!
        </p>
        <a data-scroll href="#position" class="btn"> Current Openings </a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="asset-head" style="text-align: center; color: brown">The Dream</h2>

  <p classs="blocktext">
    Educational Initiatives (EI) is an edtech organization that leverages the
    twin levers of cutting-edge educational research and a technology-based
    solutions approach to revolutionize how children engaged in the K-12
    education space learn. Our vision is to create a world in which children
    everywhere learn with understanding. Our goal is to reach a multitude of
    children across different strata of society, irrespective of the kind of
    education they are receiving today or the curriculum they are following.
  </p>
  <p classs="blocktext">
    We achieve this goal by building offerings that focus on diagnostic
    assessment and personalized learning. We believe in a scientific approach to
    conceptualizing, designing and building our offerings. This stems from a
    dream to discover a SCIENCE OF LEARNING that can systematically be made
    available to teachers. To draw an analogy, modern medicine is the result of
    a corresponding Science of Medicine that is only about 80 years old. Almost
    all treatments are based on a scientific approach that follows a process
    chain enabling in-depth testing, analysis, diagnosis, prescription,
    progress-tracking and achievement of the goal for which treatment is being
    done.
  </p>
  <p classs="blocktext">
    EI&#39;s mission is to build this &#39;Science of Learning which would
    provide answers to questions like how many children are not able to (say)
    correctly subtract in class 5 or solve equations in class 8. It would also
    categorise the different underlying errors and their frequencies. The
    Science of Learning would provide teachers a repository of data and
    techniques that they can use to help children learn better - a big
    improvement over today&#39;s situation where teachers struggle alone to help
    students learn. EI&#39;s work on assessment and learning has already helped
    create banks of misconceptions, common student errors and the like and share
    these as usable insights with teachers.
  </p>
  <p classs="blocktext">
    The Science of Learning gets built by the use of technology and also helps
    technology be used better to improve learning!
  </p>
  <p classs="blocktext">
    When you enter EI&#39;s workspace, you will instantly feel the charged
    atmosphere that emanates from this daily pursuit!
  </p>
</div>
