<div class="row">
  <div
    class="
      col-md-6 col-xs-12
      common-mission-style
      linear-maroon-background
      parent
    "
  >
    <img
      src="https://www.ei-india.com/newEIWebsite/eiasset/images/banner.png"
      class="child"
    />
  </div>
  <div
    class="
      col-md-6 col-xs-12
      common-mission-style
      asset-banner-text
      light-maroon-background
    "
    id="background"
  >
    <div class="tagline mobile-btn" style="margin: 80px">
      <h1 class="text" id="head">Mission</h1>

      <p class="test-font wow fadeInUp mb25">
        Leverage the twin levers of cutting-edge educational research and a<br />
        technology-based solutions approach to revolutionize how children<br />
        engaged in the K-12 education space learn.
      </p>
      <p class="test-font wow fadeInUp">
        We reach a multitude of children across different strata of society,<br />
        irrespective of the kind of education they are receiving or the<br />
        curriculum they are following.
      </p>
      <br />
      <br />
      <br />
      <a href="https://www.ei-india.com/team" class="btn" id="meet"
        >Meet the team</a
      >
    </div>
  </div>
</div>
